@model AgjensioniUdhetimit_ProjektiTI2.Models.Booking

@{
    ViewBag.Title = AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Delete;
}

<link rel="stylesheet" href="~/Content/assets/vendor/animate/animate.css">
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/assets/css/maicons.css">
<link rel="stylesheet" href="~/Content/assets/vendor/owl-carousel/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/assets/css/theme.css">
<script src="~/Content/assets/js/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<h2 style="margin-top:5%">@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Delete_Booking</h2>

<h4>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Are_you_sure_you_want_to_delete_this_</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoingFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoingFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoingTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoingTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfStaying)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfStaying)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOPeople)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-light" /> 
            <p style="margin-top:2%"> @Html.ActionLink("Back to List", "Index")</p>
        </div>
    }
</div>
