@model IEnumerable<AgjensioniUdhetimit_ProjektiTI2.Models.Booking>

@{
    ViewBag.Title = AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Booking;
}

<link rel="stylesheet" href="~/Content/assets/vendor/animate/animate.css">
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/assets/css/maicons.css">
<link rel="stylesheet" href="~/Content/assets/vendor/owl-carousel/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/assets/css/theme.css">
<script src="~/Content/assets/js/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<p style="margin-top:5%">
    @Html.ActionLink(AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Add_new_Booking, "Create" , null, new { @class = "nav-link text-dark" })
</p>
<table class="table mt-2">
    <thead class="thead-light">
        <tr>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Name</th>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.GoingFrom</th>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.GoingTo</th>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.DepartureDate</th>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.DayOfStaying</th>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.HotelName</th>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.NumberOfRooms</th>
            <th>@AgjensioniUdhetimit_ProjektiTI2.Resources.Content.NOPeople</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoingFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoingTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfStaying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOPeople)
            </td>
            <td>
                @Html.ActionLink(AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Edit, "Edit", new { id = item.BookingID }, new { @class = "btn btn-light" })
                @Html.ActionLink(AgjensioniUdhetimit_ProjektiTI2.Resources.Content.Delete, "Delete", new { id = item.BookingID }, new { @class = "btn btn-light" })
            </td>

        </tr>
        }
    </tbody>
</table>

