@using AgjensioniUdhetimit_ProjektiTI2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link rel="stylesheet" href="~/Content/assets/vendor/animate/animate.css">
<link rel="stylesheet" href="~/Content/assets/css/maicons.css">
<link rel="stylesheet" href="~/Content/assets/vendor/owl-carousel/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/assets/css/theme.css">
<link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">

@*<div>
    <img src="~/Content/assets/img/253171-P4LJFS-852.jpg" alt="travelAgency" class="card-img-top" width="200px" />

</div>*@

<div class="pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card card-login">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="card-header text-center">Login</div>
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <form>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-light" />
                                    </div>
                                </div>

                            </form>
                        </div>

                        @*<p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>*@
                        @*Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script></script>
}

